<%= form_with(model: baby_sitter_registration, local: true,class:"form") do |form| %>

<section>

  <% if baby_sitter_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(baby_sitter_registration.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% baby_sitter_registration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class ="container">
<h2>Complete your profile </h2><br>
  <div class="field">
    <%= form.label :First_name, class:"col-5"%>
     <%= form.text_field :first_name,:required => true,class:"col-6" %>
  </div>

  <div class="field">
    <%= form.label :Last_name,class:"col-5" %>
     <%= form.text_field :last_name,class:"col-6",:required => true %>
  </div>

  <div class="field">
   
    <%= form.label :Gender,class:"col-5" %>
    <%= form.label :Male %>
    <%= form.radio_button :Gender, 'Male' %>&nbsp
     <%= form.label :Female %>
    <%= form.radio_button :Gender, 'Female' %>
  </div>

  <div class="field">
    <%= form.label :Country ,class: "col-5" %>
    <%= form.text_field :country,:required => true, class:"col-6" %>
  </div>

  <div class="field">
    <%= form.label :City, class: "col-5"%>
    <%= form.text_field :city, :required => true ,class:"col-6"%>
  </div>

  <div class="field">
    <%= form.label :Preferred_Languages, class: "col-5" %>
    <%= form.text_area :language, :required => true,class:"col-6" %>
  </div>
  
  <div class="field">
    <%= form.label :Description , :plcaeholder => "(eg:about yourself,experience etc.)",class: "col-5" %>
    <%= form.text_area :description,:required => true,class: "col-6" %>
  </div>
 <div class="field">
    <%= form.label :Availble_Date, class:"col-5" %>
    <%= form.date_field :available_date, :required => true, class:"col-6" %>
  </div>
  <div class="field">
    <%= form.label :Amount_per_hour, class: "col-5" %>
    <%= form.text_field :amount,:required => true,class:"col-6" %>
  </div>

 <div class="field">
    <%= form.label :Upload_Photo , accept: 'image/png, image/gif, image/jpeg, image/jpg',class:"col-5"%>
    <%= form.file_field :upload_image , :required => true,class:"col-4" %>
  </div>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</section>