

<h2 class="lists">Meet And Book Our BabySitters</h2>
<div class ="search">
<%= form_tag listings_path, :method=>'get' do %>
 <%= text_field_tag :city,"",placeholder: " Search by City ",class:"col-8" ,:required=>"true"%>
 <%= submit_tag "Search" ,class:"next" %><br>
<% end %>
</div>
<div class = "grid-container">
 <%# <%= params[:city]  %> 
<% @babysitters.each do |babysitter| %>
<div class ="grid-item">
<p class= "preview"><%= image_tag (babysitter.upload_image) if babysitter.upload_image.attached? %></p>
<h2> <%= babysitter.first_name + ' ' + babysitter.last_name %></h2>
<div><strong>Location: <%= babysitter.city%></strong></div>
<div><strong> Amount/hr: $<%= babysitter.amount%></strong></div><br>
<div><%= button_to "View more" , baby_sitter_path(babysitter) , method: :get ,class:'view'%></div>
</div>

<% end %>

</div>