
<h2 class="lists"> Available baby sitters at<%= params[:city].capitalize%> </h2>
<div class = "grid-container">
<% @babysitters.each do |babysitter| %>
<div class ="grid-item">
<p class= "preview"><%= image_tag (babysitter.upload_image) if babysitter.upload_image.attached? %></p>
<h2> <%= babysitter.first_name + ' ' + babysitter.last_name %></h2>
<div><strong>Location: <%= babysitter.city%></strong></div>
<div><strong> Amount/hr: $<%= babysitter.amount%></strong></div><br>
<div><%= button_to "View more" , baby_sitter_path(babysitter) , method: :get ,class:'view'%></div>
</div>

<% end %>
</div>