<!DOCTYPE html>
<html>
  <head>
    <title>BabySitterApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section class= "nav-bar">
  <div class="logo"><%= link_to 'find baby sitter', baby_sitter_registrations_path %></div>
  <nav >
    <%= render 'layouts/nav-bar' %>
    </nav>
  </section>
  
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
